@charset "UTF-8";
.nav {
  width: 1260px; }
  .nav ul {
    list-style-type: none; }
    .nav ul li {
      width: 20px; }

@media all and (min-width: 1920px) {
  content: '桌機版css'; }

@media all and (min-width: 1090px) {
  content: '平版css';
  margin: 10px; }

@media only screen and (max-width: 721px) {
  content: '手機版css'; }

body {
  font-size: 14px;
  height: 1600px;
  background-color: #00ff88; }

h1 {
  font-size: 42px; }

.box {
  font-size: 90px;
  color: rgba(188, 216, 3, 0.625); }

body {
  font-size: 90px; }

/*註解*/
.container span {
  font-size: 90px;
  padding-top: 10px; }
  .container span .box {
    background-color: #179851; }
    .container span .box .innerbox {
      margin: 20px; }

.box2 {
  width: 140px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px; }

.box3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.sidebar .article {
  float: right;
  width: 100px;
  height: 500px; }

.contentus span {
  float: left;
  width: 800px;
  height: 400px; }

.btn-yellow, .btn-blue {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: 1px solid; }

.btn-yellow {
  background-color: yellow; }

.btn-blue {
  background-color: blue; }

a {
  color: black; }
  a:hover {
    color: #d40000; }

p {
  font-size: 10px;
  margin: 20px; }
  p::before {
    content: ''; }

a.red {
  background-color: #f20; }

.box {
  width: 15px;
  height: 5px;
  max-width: 100px;
  min-height: 2.5px;
  font: 12px / 18px; }

span {
  font-size: 14px;
  width: 15px;
  height: 15px; }

h1 {
  font-size: 20px / 2; }

body {
  font-size: 14px; }

h1 {
  font-size: 75px; }

h2 {
  font-size: 42px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 19.6px; }

h5 {
  font-size: 14px; }

.box-color {
  background-color: #fff; }

.wrapper {
  height: 100px; }

.sidebar .box-1 {
  margin: 100px; }

.push-left-1 {
  margin-left: 1px; }

.push-left-2 {
  margin-left: 2px; }

.push-left-3 {
  margin-left: 3px; }

.push-left-4 {
  margin-left: 4px; }

.push-left-5 {
  margin-left: 5px; }

a1-images {
  background-image: url("images/a1.jpg");
  display: block;
  width: 10px;
  height: 100px; }

a2-images {
  background-image: url("images/a2.jpg");
  display: block;
  width: 10px;
  height: 100px; }

a3-images {
  background-image: url("images/a3.jpg");
  display: block;
  width: 10px;
  height: 100px; }

.box-20 {
  width: -10px; }

.box-19 {
  width: -9px; }

.box-18 {
  width: -8px; }

.box-17 {
  width: -7px; }

.box-16 {
  width: -6px; }

.box-15 {
  width: -5px; }

.box-14 {
  width: -4px; }

.box-13 {
  width: -3px; }

.box-12 {
  width: -2px; }

.box-11 {
  width: -1px; }

.box-10 {
  width: 0px; }

.box-9 {
  width: 1px; }

.box-8 {
  width: 2px; }

.box-7 {
  width: 3px; }

.box-6 {
  width: 4px; }

.box-5 {
  width: 5px; }

.box-4 {
  width: 6px; }

.box-3 {
  width: 7px; }

.box-2 {
  width: 8px; }

.box-1 {
  width: 9px; }

.box {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  width: 100px; }

.box-red {
  background-color: #f20;
  margin: 10px;
  padding: 20px;
  width: 100px; }

span {
  width: 4;
  height: a04; }

.bgc {
  background-color: #fbff00; }

@media all and (min-width: 2000px) {
  padding: 100px; }

@media all and (min-width: 988px) {
  .col-md-1 {
    width: 6.66667%; }
  .col-md-2 {
    width: 13.33333%; }
  .col-md-3 {
    width: 20%; }
  .col-md-4 {
    width: 26.66667%; }
  .col-md-5 {
    width: 33.33333%; }
  .col-md-6 {
    width: 40%; }
  .col-md-7 {
    width: 46.66667%; }
  .col-md-8 {
    width: 53.33333%; }
  .col-md-9 {
    width: 60%; }
  .col-md-10 {
    width: 66.66667%; }
  .col-md-11 {
    width: 73.33333%; }
  .col-md-12 {
    width: 80%; }
  .col-md-13 {
    width: 86.66667%; }
  .col-md-14 {
    width: 93.33333%; }
  .col-md-15 {
    width: 100%; } }

@media all and (min-width: 1366px) {
  .col-xl-1 {
    width: 6.66667%; }
  .col-xl-2 {
    width: 13.33333%; }
  .col-xl-3 {
    width: 20%; }
  .col-xl-4 {
    width: 26.66667%; }
  .col-xl-5 {
    width: 33.33333%; }
  .col-xl-6 {
    width: 40%; }
  .col-xl-7 {
    width: 46.66667%; }
  .col-xl-8 {
    width: 53.33333%; }
  .col-xl-9 {
    width: 60%; }
  .col-xl-10 {
    width: 66.66667%; }
  .col-xl-11 {
    width: 73.33333%; }
  .col-xl-12 {
    width: 80%; }
  .col-xl-13 {
    width: 86.66667%; }
  .col-xl-14 {
    width: 93.33333%; }
  .col-xl-15 {
    width: 100%; } }
