.col-xl-1 {
  width: 8.33333% !important;
  display: inline-block;
  box-sizing: border-box; }

.col-xl-2 {
  width: 16.66667% !important;
  display: inline-block;
  box-sizing: border-box; }

.col-xl-3 {
  width: 25% !important;
  display: inline-block;
  box-sizing: border-box; }

.col-xl-4 {
  width: 33.33333% !important;
  display: inline-block;
  box-sizing: border-box; }

.col-xl-5 {
  width: 41.66667% !important;
  display: inline-block;
  box-sizing: border-box; }

.col-xl-6 {
  width: 50% !important;
  display: inline-block;
  box-sizing: border-box; }

.col-xl-7 {
  width: 58.33333% !important;
  display: inline-block;
  box-sizing: border-box; }

.col-xl-8 {
  width: 66.66667% !important;
  display: inline-block;
  box-sizing: border-box; }

.col-xl-9 {
  width: 75% !important;
  display: inline-block;
  box-sizing: border-box; }

.col-xl-10 {
  width: 83.33333% !important;
  display: inline-block;
  box-sizing: border-box; }

.col-xl-11 {
  width: 91.66667% !important;
  display: inline-block;
  box-sizing: border-box; }

.col-xl-12 {
  width: 100% !important;
  display: inline-block;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

.section {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box; }

.box {
  width: 300px;
  height: 50px;
  background-color: #50ffbc;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px #7c7c7c; }

.section01 {
  background-color: #d8d8d8; }
  .section01 .textbox {
    font-size: 30px; }
  .section01 .box01 {
    background-color: #fac000; }
  .section01 .box02 {
    background-color: #009efa; }
  .section01 .box03 {
    background-color: red; }
  .section01 .box04 {
    background-color: #67e003; }
  .section01 .box05 {
    background-color: #c603e0; }
  .section01 .box06 {
    background-color: #df5607; }
  .section01 .box07 {
    background-color: #070bdf;
    color: #fff; }
  .section01 .box08 {
    background-color: #0afd84;
    color: #fff; }
  .section01 .box09 {
    background-color: #00d9ff;
    color: #fff;
    margin-bottom: 10px;
    opacity: 0; }
  .section01 .btn {
    width: 100px;
    height: 40px;
    background-color: #c7c7c7;
    margin-bottom: 10px;
    cursor: pointer; }
  .section01 .box10 {
    background-color: #7bff00;
    color: #fff;
    margin-bottom: 10px; }
  .section01 .box11 {
    background-color: #ff00d4;
    color: #fff; }

.section02 {
  background-color: #eabcff; }
  .section02 .box_01 {
    position: relative;
    top: 300px !important;
    left: 300px !important; }
  .section02 .box_02 {
    position: relative;
    top: 100px !important;
    left: 700px !important; }

.section03 {
  background-color: #cfee1f; }
  .section03 .box_01 {
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    top: 200px; }

.section04 {
  background-color: #eeeeee;
  padding-top: 100px; }
  .section04 .parallax_01 {
    width: 200px;
    height: 80px; }
  .section04 .parallax_02 {
    width: 120px;
    height: 80px; }
  .section04 .parallax_03 {
    width: 80px;
    height: 80px; }

.section05 {
  background-color: #e0e0e0;
  background-image: url("https://placem.at/people");
  background-size: cover; }
  .section05 .box_01 {
    width: 80px;
    height: 80px;
    position: relative;
    top: 300px;
    left: 400px; }
  .section05 .box_02 {
    width: 80px;
    height: 80px;
    position: relative;
    top: 100px;
    left: 300px; }
  .section05 .box_03 {
    width: 80px;
    height: 80px;
    position: relative;
    top: 100px;
    left: 500px; }

.section06 {
  background-color: #d51043;
  padding-top: 150px;
  transition-property: background-color;
  transition-duration: 0.5s; }
  .section06 .spinbox {
    width: 100px;
    height: 100px;
    background-color: #c7c7c7;
    margin: 0 auto;
    transform: translateY(0);
    transition: all 1s ease-in-out; }
    .section06 .spinbox.action {
      transform: translateY(150px); }
