@import "var";
@import "nav";
@import "layout/header";


body {
    font-size: $basefont;

}

h1 {
    font-size: $basefont * 3;
}

.box {
    font-size: $fontsize;
    color: rgba(188, 216, 3, 0.625);
}

body {
    font-size: $fontsize
}








//註解
/*註解*/
.container {
    span {
        font-size: $fontsize;
        padding-top: 10px;

        .box {
            background-color: rgb(23, 152, 81);

            .innerbox {
                margin: $num;
            }
        }
    }
}

@mixin fontsize() {
    font-size: 18px
}


@mixin margin-auto() {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@mixin width($width:120px, $height:100px) {
    width: $width;
    height: $height;
    @include margin-auto();
    @include fontsize()
}

.box2 {
    @include width(140px, 400px);
}

.box3 {
    @include margin-auto();
}

@mixin floats($classname, $dir, $width, $height) {
    #{$classname} {
        float: $dir;
        width: $width;
        height: $height;
    }
}

.sidebar {
    @include floats('.article', right, 100px, 500px);
}

.contentus {

    @include floats('span', left, 800px, 400px);
}


@mixin circle ($dis, $padding, $color) {
    width: $dis + px;
    height: $dis + px;
    border-radius: $dis + px;
    border: 1px solid $color;
    padding: $padding + px;
    cursor: pointer;
}

;

%btn {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 1px solid;
}

@mixin btns() {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 1px solid;
}



.btn-yellow {
    background-color: yellow;
    @extend %btn;
    //  @include btns();

}

.btn-blue {
    background-color: blue;
    @extend %btn;
    // @include btns();
}


a {
    color: rgb(0, 0, 0);

    &:hover {
        color: #d40000;
    }

    ;

}


p {
    font-size: 10px;

    &::before {
        content: '';
    }

    margin: 20px;
}


a {
    &.red {
        background-color: #f20;
    }
}