@import "var";
// @import "nav";
@import "mixins/mixin";

@include grid(xl , 12);

* {
margin: 0;
padding: 0;


}

.section {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.box {
    width: 300px;
    height: 50px;
    background-color: rgb(80, 255, 188);
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(124, 124, 124);
}

.section01 {
    background-color: rgb(216, 216, 216);
    .box01 {
        background-color: rgb(250, 192, 0);
    }

    .box02 {
        background-color: rgb(0, 158, 250);
    }

    .box03 {
        background-color: rgb(255, 0, 0);
    }
    .box04 {
        background-color: #67e003;
    }
    .box05 {
        background-color: #c603e0;
    }
    .box06 {
        background-color: #df5607;
    }
    .box07 {
        background-color: #070bdf;
        color: #fff;
    }
    .box08 {
        background-color: #0afd84;
        color: #fff;
    }
    .box09 {
        background-color: #00d9ff;
        color: #fff;
        margin-bottom: 10px;
        opacity: 0;
    }
    .btn {
        width: 100px;
        height: 40px;
        background-color: rgb(199, 199, 199);
        margin-bottom: 10px;
        cursor: pointer;
    }

    .box10 {
        background-color: #7bff00;
        color: #fff;
        margin-bottom: 10px;
        // opacity: 0;
    }
    .box11 {
        background-color: #ff00d4;
        color: #fff;
        // margin-bottom: 10px;
        // opacity: 0;
    }

}

.section02 {
   background-color: rgb(234, 188, 255);
//    .box_01 {
//        position: relative;
//        top: 300px !important;
//        left: 300px !important;
//    }

}