//
@mixin content() {
    .box {
        background-color: #fff;
        @content
    }
    .box-red {
        background-color: #f20;
        @content
    }
}


//斷點
@mixin rwd ($breakpoint) {
    @if $breakpoint == moblie {
        @media only screen and (max-width: $moblie) {
            @content;
        }
    }

    @else if $breakpoint== medium {
        @media all and (min-width: $medium) {
            @content;
        }
    }

    @else if $breakpoint == desktop {
        @media all and (min-width: $desktop) {
            @content
        }
    }
}
//img
@mixin bgi($images, $w, $h) {
    @each $img in $images {
        #{$img}-images {
            background-image: url('images/#{$img}.jpg');
            display: block;
            width: $w;
            height: $h;
        }
    }
}

//rwd
@mixin respond($resp) {

    @each $viewpoint,
    $num in $breakpoint {
        @if $resp==$viewpoint {
            @media all and (min-width: $num) {
                @content;
            }
        }
    }
}

//grid
@mixin grid($attr , $num) {
    @for $i from 1 through $num {
       .col-#{$attr}-#{$i}{
          width: ($i / $num) * 100% !important;
          display: inline-block;
          box-sizing: border-box;
          

       }
    }
}





